node_modules
yarn-error.log
npm-error.log

*.tsbuildinfo
.vscode/*.log

/build
/dist
/emsdk-cache

# QuickJS build stuff
/quickjs/test_fib.c
/quickjs/examples/test_fib
/quickjs/.obj/
/quickjs/examples/hello
/quickjs/examples/hello_module
/quickjs/hello.c
/quickjs/libquickjs.a
/quickjs/libquickjs.lto.a
/quickjs/qjs
/quickjs/qjsc
/quickjs/qjscalc
/quickjs/qjscalc.c
/quickjs/repl.c
/quickjs/run-test262

**/.yarn/*
!/.yarn/releases
