# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# quick specific
c_module.c
examples/c_module
examples/hello
examples/hello_module
hello.c
hello_world2
microbench
microbench-new.txt
qjs
qjs32
qjs32_s
qjsbn
qjsbn32
qjsbnc
qjsc
qjscalc
qjscalc.c
repl-bn.c
repl.c
run-test262
run-test262-bn
test_std.js
