# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # We'll run the tests on both Linux and OSX
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest] # , macos-latest] # Too slow :(

    # The type of runner that the job will run on
    runs-on: ${{matrix.platform}}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Docker (macOS)
        uses: docker-practice/actions-setup-docker@1.0.8
        if: matrix.platform == 'macos-latest'

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          # We need `git log` to find git-subtree versions
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: '5.0.1'
          actions-cache-folder: 'emsdk-cache'

      - name: EMSDK cache (Docker fallback)
        uses: actions/cache@v3
        with:
          path: "emsdk-cache"
          key: emsdk-docker-${{ hashFiles('scripts/emcc.sh') }}

      - name: Environment info
        run: |
          echo $(which node) v$(node --version)
          echo $(which pnpm) v$(pnpm --version)
          echo $(which npx) v$(npx --version)
          echo $(npx which tsc) $(npx tsc --version)
          echo $(npx which tsup) $(npx tsup --version)
          echo $(npx which esbuild) v$(npx esbuild --version)
          echo "emcc: $(which emcc) $(emcc --version | head -1)"
          echo "sccache: $(which sccache) $(sccache --version)"

      - name: Build
        run: pnpm run build
        env:
          SCCACHE_GHA_ENABLED: "true"

      - name: sccache stats
        run: sccache --show-stats

      - name: Check types
        run: pnpm run check:types

      - name: Check package.jsons
        run: pnpm run check:packages

      - name: Test
        run: pnpm run test:slow

      - name: Build tarballs
        run: pnpm run tarball && du -h build/tar/*

      - name: Test release with NodeJS minimal ESModule example
        run: ./scripts/smoketest-node-minimal.ts

      - name: Test release with NodeJS/Typescript example
        run: ./scripts/smoketest-node.ts

      - name: Test release with create-react-app/Typescript example
        run: ./scripts/smoketest-create-react-app.ts

      - name: Test release with Vite/Vue example
        run: ./scripts/smoketest-vite.ts

      - name: Check lint
        run: pnpm run lint

      - name: Check format
        run: pnpm run check:format
